*¨{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Itemcarrusel {
    border: 1px solid balck; 
    height: 200px;
}
.Tarjetacarrusel{
background-color: rgb(151, 240, 210);
height: 100%;

}
.Flechascarrusel{
background-color: azure;

}